.filter {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

input, select {
    padding: 8px;
    margin: 5px;
    border: 1px solid black;
    border-radius: 4px;
}