.pokemon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 5px;
    padding: 7px;
    margin: 7px;
    background-color: white;
    width: 155px;
    min-height: 200px;

}
.pokemon .title {
    height: 15%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.pokemon .img {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

img {
    max-height: 100px;
    max-width: 150px;
}

.pokemon .type {
    height: 15%;
    margin: 5px;
}